@import '~boxicons/css/boxicons.min.css';


.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 400px;
}

ul {
  /* border: 1px solid black; */
  list-style-type: none;
}

li {
  /* padding-left: 20px; */
  position: relative;
  border: 1px solid #ccc;
  /* border-radius: 20px; */
  padding: 10px;
}

/* li::before {
  content: '\ec96';
  font-family: 'boxicons';
  position: absolute; 
  left: 0;
  top: 50%; 
  transform: translateY(-50%);
  color: #333;
} */